/*Contact header*/

#contact-header
  height: 200px
  background: url('../../img/contact.jpg') fixed -600px -260px
  padding-top: 50px

  .dark-overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    background-size: cover
    background: rgba(255, 229, 237, 0.7)

/* Google Map */
.map-container-4
  overflow: hidden
  padding-bottom: 30.25%
  position: relative
  height: 0

.map-container-4 iframe
  left: 0
  top: 0
  height: 100%
  width: 100%
  position: absolute

.map-container-4
  overflow: hidden
  padding-bottom: 30.25%
  position: relative
  height: 0

#contact-header .contact-inner
  padding-top: 150px

// Section coordinatoren
#bg-contact
  background-color: $color1
  color: $backgroundColor

.btn-outline-danger
  border-color: $color1
  color: #0E0693
  &:hover
    background-color: $color1
    border: $backgroundColor

// message to display for form

.error
  color: red !important

.message-alert
  position: relative !important
  padding: .75rem 1.25rem !important
  margin-bottom: 1rem !important
  border: 1px solid transparent !important
  border-radius: .25rem !important

.success_message
  color: #155724 !important
  background-color: #d4edda !important
  border-color: #c3e6cb !important

.fail_message
  color: #721c24 !important
  background-color: #f8d7da !important
  border-color: #f5c6cb !important
