/*Contact header*/

.contact-header
  text-align: center
  position: relative
  background-attachment: fixed

  .overlay-contact
    position: relative
    opacity: 0.6

  .text-contact
    position: absolute
    padding-top: 50px
    color: #000000
    font-weight: bolder

  img
    width: 100%
    background-size: contain
    max-height: 200px

/* Google Map */
.map-container-4
  overflow: hidden
  padding-bottom: 30.25%
  position: relative
  height: 0

.map-container-4 iframe
  left: 0
  top: 0
  height: 100%
  width: 100%
  position: absolute

.map-container-4
  overflow: hidden
  padding-bottom: 30.25%
  position: relative
  height: 0

#contact-header .contact-inner
  margin-top: 106px
  padding-bottom: 61px

// Section coordinatoren
#bg-contact
  background-color: $color1
  color: $backgroundColor
  p
    color: $backgroundColor !important


.btn-outline-danger
  border-color: $color1
  color: #0E0693
  &:hover
    background-color: $color1
    border: $backgroundColor

// Large devices (desktops, 992px and up)
@media (min-width: 992px)
#bg-contact
  padding-bottom: 42px !important

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
  .contact-header
    img
      height: 375px

    .text-contact
      .display-2
        font-size: 77px