// First footer
#main-footer
  height: 350px
  background-color: #bfe299
  background-image: linear-gradient(315deg, #bfe299 0%, #66b5f6 74%)

// Fb plugin
#fb-plugin-sm
  display: none

#fb-plugin-md
  display: none

.footer-title
  font-family: $font1
  color: $colorText1

// Social media icon
#btn
  display: inline-block
  width: 50px
  height: 50px
  background: $backgroundColor
  border-radius: 30%
  box-shadow: 0 5px 15px -5px #00000070
  color: $color1
  overflow: hidden
  position: relative
  font-size: 25px

  i
    font-size: 35px
    transition: 0.2s linear

  &:hover i
    transform: scale(1.3)
    color: $backgroundColor

  &::before
    content: ""
    position: absolute
    width: 120%
    height: 120%
    background: $colorText1
    transform: rotate(45deg)
    left: -110%
    top: 90%

  &:hover::before
    animation: aaa 0.7s 1
    top: -10%
    left: -10%

    @keyframes aaa
      0%
        left: -110%
        top: 90%

      50%
        left: 10%
        top: -30%

      100%
        top: -10%
        left: -10%

// Second footer
#second-footer
  background-color: #000000
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%)
  padding: 10px
  position: sticky !important

#text-footer
  color: $backgroundColor
  font-family: $font1
  position: relative
  top: 5px

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
  #main-footer
    height: 480px

  #btn
    margin-bottom: 14px

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px)
  #fb-plugin
    display: none

  #fb-plugin-sm
    display: none

  #fb-plugin-md
    display: block

  #main-footer
    margin-top: 15px !important
    padding-bottom: 28rem !important

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
  #main-footer
    margin-top: 15px !important
    padding-bottom: 30rem !important

  #fb-plugin
    display: none !important

  #fb-plugin-md
    display: none !important

  #fb-plugin-sm
    display: block !important

