// Header

#partners-header
  height: 200px
  max-width: 100%
  background: url('../../img/PARTNERS.jpg')
  background-size: cover
  padding-top: 50px

// Puzzles
.puzzle-1, .puzzle-2
  font-size: 35px
  width: 6em
  height: 6em
  position: relative
  border-radius: 6%
  background-color: #0284cf

.puzzle-1:before, .puzzle-2:before
  content: ""
  width: 1.8em
  height: 1.8em
  position: absolute
  top: 2.2em
  left: -.4em
  border-radius: 50%
  background-color: #fff

.puzzle-1:after, .puzzle-2:before
  content: ""
  width: 2em
  height: 2em
  position: absolute
  top: 2em
  left: 5.5em
  border-radius: 50%
  background-color: #0284cf

.puzzle-1, .puzzle-2
  span
    display: block
    position: absolute
    width: 2em
    height: 2em
    position: absolute
    top: -1.5em
    left: 2em
    border-radius: 50%
    background-color: #0284cf

.puzzle-1, .puzzle-2
  span:before
    content: ""
    width: 1.8em
    height: 1.8em
    position: absolute
    top: 6em
    left: .2em
    border-radius: 50%
    background-color: #fff

.puzzle-2
  background-color: yellow
  span
    background-color: yellow

.puzzle-2:before
  background-color: yellow

// Logos

.logos
  img
    width: 13rem
    height: 10rem
    object-fit: scale-down

.clb-logos
  width: 200px
  height: 200px
  object-fit: scale-down

// Buitengewoon Onderwijs
#b-onderwijs
  display: none