// Header

#vacatures-header
  height: 200px
  max-width: 100%
  background: url('../../img/joinOurTeam.jpg')
  background-size: cover
  padding-top: 55px

.items
  background-color: #2a2a72
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%)

  p
    font-family: $font1
    font-size: $fontSize4
    color: $colorText1

.line
  border: 1px solid #C7D5E4

.spontane
  text-align: center
  color: $backgroundColor
  font-family: $font3

.paddingvaca
  padding-top: 37px
  padding-bottom: 30px
.item2
  background: linear-gradient(180deg, #028090 0%, rgba(255, 255, 255, 0) 100%), #00BFB2
  p
    font-family: $font1
    font-size: $fontSize4
    color: $colorText1