// Header

.wieiswie-header
  text-align: center
  position: relative
  background-attachment: fixed

  .overlay-wieiswie
    position: relative
    opacity: 0.7

  .text-wieis
    position: absolute
    padding-top: 50px
    color: #efe200
    font-weight: bolder

  img
    width: 100%
    background-size: contain
    max-height: 200px

// Tab Bar

#beheers-title, #pedago-title, #coord-title, #onder-title
  font-size: 20px !important
  color: $backgroundColor !important

.inleiding-text
  font-size: $textSize1
  font-family: $font1

.tab-content
  margin-bottom: 100px

.nav-tabs
  border-bottom: none
  display: flex
  flex-direction: row
  justify-content: center
  margin-bottom: 30px

.bgPa
  background-color: #36669d
  background-image: linear-gradient(315deg, #36669d 0%, #d3d3d3 74%)

.padding-l
  padding: 30px 0 25px !important
.padding-le
  padding: 30px 0 0 !important
.bgCo
  background-color: #aecad6
  background-image: linear-gradient(315deg, #aecad6 0%, #b8d3fe 74%)

.bgPe
  background-color: #2884b8
  background-image: linear-gradient(315deg, #2884b8 0%, #d1bad2 74%)

.bgBe
  background-color: #537895
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%)


#ondersteuners-tab
  background-color: #36669d
  background-image: linear-gradient(315deg, #36669d 0%, #d3d3d3 74%)

#pedagogische-tab
  background-color: #2884b8
  background-image: linear-gradient(315deg, #2884b8 0%, #d1bad2 74%)

#coordinatoren-tab
  background-color: #aecad6
  background-image: linear-gradient(315deg, #aecad6 0%, #b8d3fe 74%)

#beheerscomite-tab
  background-color: #537895
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%)

.nav-link.active
  border: 10px solid #FAFAFA !important

// TEAMS

.card-1
  background-color: white

.our-team
  padding: 30px 0 40px
  margin-bottom: 20px
  text-align: center
  overflow: hidden
  position: relative

  .picture
    display: inline-block
    height: 130px
    width: 130px
    margin-bottom: 50px
    z-index: 1
    position: relative

    &::before
      content: ""
      width: 100%
      height: 0
      border-radius: 50%
      background-color: $buttoncol4
      position: absolute
      bottom: 135%
      right: 0
      left: 0
      opacity: 0.9
      transform: scale(3)
      transition: all 0.3s linear 0s

  &:hover .picture::before
    height: 100%

  .picture
    &::after
      content: ""
      width: 100%
      height: 100%
      border-radius: 50%
      background-color: #ffffb5
      background-image: linear-gradient(315deg, #ffffb5 0%, #247ba0 74%)
      position: absolute
      top: 0
      left: 0
      z-index: -1

    img
      width: 100%
      height: auto
      border-radius: 50%
      transform: scale(1)
      transition: all 0.9s ease 0s

  &:hover .picture img
    box-shadow: 0 0 0 14px #f7f5ec
    transform: scale(0.7)

  .title
    display: block
    font-size: 15px
    color: $backgroundColor2
    text-transform: capitalize

  .email
    font-size: 15px
    color: $colorText1
    font-family: $font1

  .name
    color: $backgroundColor
    font-family: $font1


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
  .text-wieis
    padding-top: 0 !important

  .wieiswie-header
    img
      height: 375px

  .nav-tabs
    margin-top: 46px