body {
    overflow-x: hidden;
    margin-top: 90px;
}

.first-letters::first-letter {
    font-size: 40px;
}

.display-4 {
    position: relative;
    z-index: 1;
}

/*Navbar*/

.navbar {
    border-bottom: #4d4fff 3px solid;
    opacity: 0.8;
}

.nav-link {
    font-size: 18px;
}

.btn-2 {
    letter-spacing: 0;
}

/*Contact header*/

#contact-header {
    height: 200px;
    background: url('../../img/contact.jpg');
    background-position: -600px -260px;
    background-attachment: fixed;
    padding-top: 50px;
}

#contact-header .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 229, 237, 0.7);
}

#contact-header .contact-inner {
    padding-top: 150px;
}

/***** WIE IS WIE *****/

#wieiswie-header {
    height: 200px;
    background: url('../../img/team.jpg');
    background-position: -600px -260px;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 50px;
}

/* Puzzle section */

.jigsaw1 {
    font-size: 35px;
    width: 6em;
    height: 6em;
    margin: 50px;
    position: relative;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
}

.jigsaw1,
.jigsaw1 span {
    background-color: #0284cf;
}

.jigsaw1 .t {
    width: 2em;
    height: 2em;
    position: absolute;
    top: -1.5em;
    left: 2em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
}

.jigsaw1 .r {
    width: 2em;
    height: 2em;
    position: absolute;
    top: 2em;
    left: 5.5em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
}

.jigsaw1 .b {
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    top: 4.5em;
    left: 2.2em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
    background-color: #fff;
}

.jigsaw1 .l {
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    top: 2.2em;
    left: -.4em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
    background-color: #fff;
}

.jigsaw2 {
    font-size: 35px;
    width: 6em;
    height: 6em;
    margin: 50px;
    position: relative;
    border-radius: 6%;
    background-color: #0284cf;
}

.jigsaw2:before {
    content: "";
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    top: 2.2em;
    left: -.4em;
    border-radius: 50%;
    background-color: #fff;
}

.jigsaw2:after {
    content: "";
    width: 2em;
    height: 2em;
    position: absolute;
    top: 2em;
    left: 5.5em;
    border-radius: 50%;
    background-color: #0284cf;
}

.jigsaw2 span {
    display: block;
    position: absolute;
    width: 2em;
    height: 2em;
    position: absolute;
    top: -1.5em;
    left: 2em;
    border-radius: 50%;
    background-color: #0284cf;
}

.jigsaw2 span:before {
    content: "";
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    top: 6em;
    left: .2em;
    border-radius: 50%;
    background-color: #fff;
}

#partners-header {
    height: 200px;
    background: url('../../img/partners.jpg');
    background-position: -600px -260px;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 50px;
}

/* Google Map */
.map-container-4{
    overflow:hidden;
    padding-bottom:30.25%;
    position:relative;
    height:0;
}
.map-container-4 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.map-container-4{
    overflow:hidden;
    padding-bottom:30.25%;
    position:relative;
    height:0;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* Navbar*/
    nav.navbar ul li a {
        position: relative;
    }
    nav.navbar ul li a:after,
    nav.navbar ul li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        color: transparent;
        background: #4d4fff;
        height: 1px;
    }
    nav.navbar ul li a:hover:after {
        width: 100%;
    }

    nav.navbar ul li a {
        transition: all 2s;
    }

    nav.navbar ul li a:after {
        text-align: left;
        content: '.';
        margin: 0;
        opacity: 0;
    }
    nav.navbar ul li a:hover {
        color: #fff;
        z-index: 1;
    }
    nav.navbar ul li a:hover:after {
        z-index: -10;
        animation: fill 1s forwards;
        -webkit-animation: fill 1s forwards;
        -moz-animation: fill 1s forwards;
        opacity: 1;
    }
    .carousel-item {
        height: 450px;
    }
}