body {
  overflow-x: hidden;
  margin-top: 90px;
  background-color: #FAFAFA; }

.navbar {
  border-bottom: #286DA8 3px solid;
  opacity: 0.8;
  background: #FAFAFA; }

.nav-link {
  font-size: 18px;
  font-family: "Gotu", sans-serif;
  color: #0A2239 !important;
  font-weight: bold; }

#logo-font {
  color: #0A2239; }

.nav-link:after {
  content: "";
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(0deg); }

.nav-item:after {
  content: "";
  position: absolute;
  z-index: -1;
  transform: translateX(-50%) rotate(0deg); }

.nav-item:nth-child(1):after {
  background: #ED4337; }

.nav-item:nth-child(2):after {
  background: #A1D3A2; }

.nav-item:nth-child(3):after {
  background: #50B8E7; }

.nav-item:nth-child(4):after {
  background: #efe200; }

.nav-item:nth-child(5):after {
  background: #2CEAA3; }

.nav-item:nth-child(6):after {
  background: #6184D8; }

.nav-item:nth-child(7):after {
  background: #9B6A6C; }

.nav-item:nth-child(1):after {
  clip-path: polygon(6% 10%, 100% 0, 64% 65%, 28% 65%);
  height: 85px;
  width: 100px;
  top: 15px;
  animation: stretch 2s ease infinite; }
@keyframes stretch {
  25% {
    transform: translateX(-50%) rotate(2deg) scaleY(0.93); }
  50% {
    transform: translateX(-50%) rotate(-2deg) scaleX(0.93);
    clip-path: polygon(6% 20%, 100% 0, 64% 65%, 28% 65%); }
  75% {
    transform: translateX(-50%) rotate(3deg) scale(1.05); } }
.nav-item:nth-child(2):after {
  clip-path: polygon(61% 0%, 100% 19%, 71% 100%, 0% 100%);
  height: 55px;
  width: 75px;
  top: 15px;
  animation: stretch2 1.5s ease infinite; }
@keyframes stretch2 {
  25% {
    transform: translateX(-50%) rotate(-2deg) scaleY(1.05); }
  50% {
    transform: translateX(-50%) rotate(2deg) scaleY(0.93) scaleX(1.06);
    clip-path: polygon(61% 0%, 100% 19%, 71% 100%, 12% 100%); }
  75% {
    transform: translateX(-50%) rotate(3deg) scale(1.05);
    clip-path: polygon(61% 0%, 80% 19%, 71% 100%, 12% 100%); } }
.nav-item:nth-child(3):after {
  clip-path: polygon(0% 0%, 100% 0%, 100% 99%, 0% 57%);
  height: 55px;
  width: 45px;
  top: 15px;
  animation: stretch3 2s ease infinite; }
@keyframes stretch3 {
  25% {
    transform: translateX(-50%) rotate(-2deg) scaleY(1.05); }
  50% {
    transform: translateX(-50%) rotate(2deg) scaleY(0.93) scaleX(1.06);
    clip-path: polygon(10% 5%, 100% 0%, 100% 99%, 0% 57%); }
  75% {
    transform: translateX(-50%) rotate(3deg) scale(1.05);
    clip-path: polygon(0% 0%, 100% 0%, 100% 99%, 10% 37%); } }
.nav-item:nth-child(4):after {
  clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%);
  height: 55px;
  width: 45px;
  top: 15px;
  animation: stretch4 2s ease infinite; }
@keyframes stretch4 {
  25% {
    transform: translateX(-50%) rotate(-2deg) scaleY(1.05); }
  50% {
    transform: translateX(-50%) rotate(2deg) scaleY(0.93) scaleX(1.06);
    clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%); }
  75% {
    transform: translateX(-50%) rotate(3deg) scaleY(1.05);
    clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%); } }
.nav-item:nth-child(5):after {
  clip-path: polygon(0% 56%, 88% 0%, 100% 99%, 78% 100%);
  height: 55px;
  width: 45px;
  top: 15px;
  animation: stretch4 2s ease infinite; }
@keyframes stretch4 {
  25% {
    transform: translateX(-50%) rotate(-2deg) scaleY(1.05); }
  50% {
    transform: translateX(-50%) rotate(2deg) scaleY(0.93) scaleX(1.06);
    clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%); }
  75% {
    transform: translateX(-50%) rotate(3deg) scaleY(1.05);
    clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%); } }
.nav-item:nth-child(6):after {
  clip-path: polygon(34% 10%, 100% 0, 64% 65%, 28% 65%);
  height: 85px;
  width: 100px;
  top: 15px;
  animation: stretch 2s ease infinite; }
@keyframes stretch {
  25% {
    transform: translateX(-50%) rotate(2deg) scaleY(0.93); }
  50% {
    transform: translateX(-50%) rotate(-2deg) scaleX(0.93);
    clip-path: polygon(6% 54%, 100% 0, 64% 65%, 14% 65%); }
  75% {
    transform: translateX(-50%) rotate(3deg) scale(1.05); } }
.nav-item:nth-child(7):after {
  clip-path: polygon(0% 88%, 56% 0%, 100% 99%, 78% 100%);
  height: 55px;
  width: 45px;
  top: 15px;
  animation: stretch4 2s ease infinite; }
@keyframes stretch4 {
  25% {
    transform: translateX(-50%) rotate(-2deg) scaleY(1.05); }
  50% {
    transform: translateX(-50%) rotate(2deg) scaleY(0.93) scaleX(1.06);
    clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%); }
  75% {
    transform: translateX(-50%) rotate(3deg) scaleY(1.05);
    clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%); } }
.nav-item:hover:after {
  animation: boink 1s ease forwards 1; }
@keyframes boink {
  80% {
    transform: scaleX(1.9) scaleY(0.6) translateX(-30%); } }
#middle-title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #286DA8; }

.section_title {
  font-family: "Open Sans", sans-serif;
  color: #C7D5E4;
  font-size: 60px;
  margin-bottom: -20px; }

#middle-par {
  font-size: 20px;
  color: #0A2239;
  font-family: "Gotu", sans-serif; }

.card-header {
  padding: 0;
  background-color: #61B7A0; }

.first-letters::first-letter {
  font-size: 40px;
  color: #0A2239;
  font-family: "Lato", sans-serif; }

.first-letters {
  color: #FAFAFA;
  font-family: "Lato", sans-serif;
  font-size: 25px; }

.card-body {
  font-family: Roboto Light;
  font-size: 18px; }

#main-footer {
  height: 350px;
  background-color: #c1ccd5; }

.footer-title {
  font-family: "Open Sans", sans-serif; }

#btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #FAFAFA;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #286DA8;
  overflow: hidden;
  position: relative;
  font-size: 25px; }
  #btn i {
    font-size: 35px;
    transition: 0.2s linear; }
  #btn:hover i {
    transform: scale(1.3);
    color: #FAFAFA; }
  #btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #0A2239;
    transform: rotate(45deg);
    left: -110%;
    top: 90%; }
  #btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%; }
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%; }
  50% {
    left: 10%;
    top: -30%; }
  100% {
    top: -10%;
    left: -10%; } }
#second-footer {
  background-color: #0A2239;
  height: 50px; }

#text-footer {
  color: #FAFAFA;
  font-family: "Open Sans", sans-serif; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #main-footer {
    height: 480px; }

  #btn {
    margin-bottom: 14px; } }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .carousel-item {
    height: 450px; } }
#traject-header {
  height: 200px;
  background: url("../../img/traject2.jpg") fixed -200px -260px;
  padding-top: 50px;
  z-index: 1; }

/*STAPPENPLAN */
.skewBtn {
  width: 180px;
  height: 80px;
  outline: none;
  cursor: pointer;
  background: none;
  transition: 0.5s;
  font-size: 24px;
  border-radius: 5px;
  font-family: "Lato", sans-serif; }
  .skewBtn:hover {
    border: none;
    color: white;
    font-size: 28px;
    transform: scale(1.1); }

/* Buttons */
.blue1 {
  border: 2px solid #0E0693;
  color: #0A2239; }
  .blue1:hover {
    background-color: #0E0693;
    transition: all 0.3s ease-in-out; }

.blue2 {
  border: 2px solid #292BA8;
  color: #0A2239; }
  .blue2:hover {
    background-color: #292BA8;
    transition: all 0.3s ease-in-out; }

.blue3 {
  border: 2px solid #4451BD;
  color: #0A2239; }
  .blue3:hover {
    background-color: #4451BD;
    transition: all 0.3s ease-in-out; }

.blue4 {
  border: 2px solid #5F76D2;
  color: #0A2239; }
  .blue4:hover {
    background-color: #5F76D2;
    transition: all 0.3s ease-in-out; }

.blue5 {
  border: 2px solid #7A9CE7;
  color: #0A2239; }
  .blue5:hover {
    background-color: #7A9CE7;
    transition: all 0.3s ease-in-out; }

.blue6 {
  border: 2px solid #96C2FD;
  color: #0A2239; }
  .blue6:hover {
    background-color: #96C2FD;
    transition: all 0.3s ease-in-out; }

/*Contact header */
#contact-header {
  height: 200px;
  background: url("../../img/contact.jpg") fixed -600px -260px;
  padding-top: 50px; }

#contact-header .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 229, 237, 0.7); }

#contact-header .contact-inner {
  padding-top: 150px; }

/*# sourceMappingURL=style.css.map */
