body {
  overflow-x: hidden;
  margin-top: 90px;
  background-color: #FAFAFA; }
  body h3 {
    font-family: "Open Sans", sans-serif; }

.navbar {
  border-bottom: #286DA8 3px solid;
  opacity: 0.8;
  background: #FAFAFA; }

.nav-link {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #0d0a0b !important;
  font-weight: bold;
  padding-left: 1rem !important;
  padding-right: 1rem !important; }

#logo-font {
  color: #0A2239; }

.nav-link:after {
  content: "";
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(0deg); }

.nav-item:hover {
  border-left: #286DA8 2px dashed; }

.nav-item:after {
  content: "";
  position: absolute;
  z-index: -1;
  transform: translateX(-50%) rotate(0deg); }

.nav-item:nth-child(1):after {
  background: #ed4337; }

.nav-item:nth-child(2):after {
  background: #A1D3A2; }

.nav-item:nth-child(3):after {
  background: #50b8e7; }

.nav-item:nth-child(4):after {
  background: #efe200; }

.nav-item:nth-child(5):after {
  background: #2CEAA3; }

.nav-item:nth-child(6):after {
  background: #6184D8; }

.nav-item:nth-child(7):after {
  background: #9B6A6C; }

.nav-item:nth-child(1):after {
  clip-path: polygon(6% 10%, 100% 0, 64% 65%, 28% 65%);
  height: 85px;
  width: 100px;
  top: 15px;
  animation: stretch 2s ease infinite; }
@keyframes stretch {
  25% {
    transform: translateX(-50%) rotate(2deg) scaleY(0.93); }
  50% {
    transform: translateX(-50%) rotate(-2deg) scaleX(0.93);
    clip-path: polygon(6% 20%, 100% 0, 64% 65%, 28% 65%); }
  75% {
    transform: translateX(-50%) rotate(3deg) scale(1.05); } }
.nav-item:nth-child(2):after {
  clip-path: polygon(61% 0%, 100% 19%, 71% 100%, 0% 100%);
  height: 55px;
  width: 75px;
  top: 15px;
  animation: stretch2 1.5s ease infinite; }
@keyframes stretch2 {
  25% {
    transform: translateX(-50%) rotate(-2deg) scaleY(1.05); }
  50% {
    transform: translateX(-50%) rotate(2deg) scaleY(0.93) scaleX(1.06);
    clip-path: polygon(61% 0%, 100% 19%, 71% 100%, 12% 100%); }
  75% {
    transform: translateX(-50%) rotate(3deg) scale(1.05);
    clip-path: polygon(61% 0%, 80% 19%, 71% 100%, 12% 100%); } }
.nav-item:nth-child(3):after {
  clip-path: polygon(0% 0%, 100% 0%, 100% 99%, 0% 57%);
  height: 55px;
  width: 45px;
  top: 15px;
  animation: stretch3 2s ease infinite; }
@keyframes stretch3 {
  25% {
    transform: translateX(-50%) rotate(-2deg) scaleY(1.05); }
  50% {
    transform: translateX(-50%) rotate(2deg) scaleY(0.93) scaleX(1.06);
    clip-path: polygon(10% 5%, 100% 0%, 100% 99%, 0% 57%); }
  75% {
    transform: translateX(-50%) rotate(3deg) scale(1.05);
    clip-path: polygon(0% 0%, 100% 0%, 100% 99%, 10% 37%); } }
.nav-item:nth-child(4):after {
  clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%);
  height: 55px;
  width: 45px;
  top: 15px;
  animation: stretch4 2s ease infinite; }
@keyframes stretch4 {
  25% {
    transform: translateX(-50%) rotate(-2deg) scaleY(1.05); }
  50% {
    transform: translateX(-50%) rotate(2deg) scaleY(0.93) scaleX(1.06);
    clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%); }
  75% {
    transform: translateX(-50%) rotate(3deg) scaleY(1.05);
    clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%); } }
.nav-item:nth-child(5):after {
  clip-path: polygon(0% 56%, 88% 0%, 100% 99%, 78% 100%);
  height: 55px;
  width: 45px;
  top: 15px;
  animation: stretch4 2s ease infinite; }
@keyframes stretch4 {
  25% {
    transform: translateX(-50%) rotate(-2deg) scaleY(1.05); }
  50% {
    transform: translateX(-50%) rotate(2deg) scaleY(0.93) scaleX(1.06);
    clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%); }
  75% {
    transform: translateX(-50%) rotate(3deg) scaleY(1.05);
    clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%); } }
.nav-item:nth-child(6):after {
  clip-path: polygon(34% 10%, 100% 0, 64% 65%, 28% 65%);
  height: 85px;
  width: 100px;
  top: 15px;
  animation: stretch 2s ease infinite; }
@keyframes stretch {
  25% {
    transform: translateX(-50%) rotate(2deg) scaleY(0.93); }
  50% {
    transform: translateX(-50%) rotate(-2deg) scaleX(0.93);
    clip-path: polygon(6% 54%, 100% 0, 64% 65%, 14% 65%); }
  75% {
    transform: translateX(-50%) rotate(3deg) scale(1.05); } }
.nav-item:nth-child(7):after {
  clip-path: polygon(0% 88%, 56% 0%, 100% 99%, 78% 100%);
  height: 55px;
  width: 45px;
  top: 15px;
  animation: stretch4 2s ease infinite; }
@keyframes stretch4 {
  25% {
    transform: translateX(-50%) rotate(-2deg) scaleY(1.05); }
  50% {
    transform: translateX(-50%) rotate(2deg) scaleY(0.93) scaleX(1.06);
    clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%); }
  75% {
    transform: translateX(-50%) rotate(3deg) scaleY(1.05);
    clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%); } }
.nav-item:hover:after {
  animation: boink 1s ease forwards 1; }
@keyframes boink {
  80% {
    transform: scaleX(1.9) scaleY(0.6) translateX(-30%); } }
.particle {
  position: absolute;
  border-radius: 50%; }

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(31vw, 71vh, 13px); } }
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.43;
  height: 7px;
  width: 7px;
  animation-delay: -0.2s;
  transform: translate3d(27vw, 58vh, 66px);
  background: #d94d26; }

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(11vw, 12vh, 72px); } }
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.15;
  height: 10px;
  width: 10px;
  animation-delay: -0.4s;
  transform: translate3d(6vw, 34vh, 22px);
  background: #d92635; }

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(61vw, 89vh, 2px); } }
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.25;
  height: 6px;
  width: 6px;
  animation-delay: -0.6s;
  transform: translate3d(61vw, 88vh, 68px);
  background: #a9d926; }

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(25vw, 19vh, 68px); } }
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.29;
  height: 9px;
  width: 9px;
  animation-delay: -0.8s;
  transform: translate3d(49vw, 5vh, 46px);
  background: #d92629; }

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(79vw, 72vh, 41px); } }
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.26;
  height: 9px;
  width: 9px;
  animation-delay: -1s;
  transform: translate3d(7vw, 59vh, 13px);
  background: #26d947; }

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(65vw, 59vh, 96px); } }
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.65;
  height: 9px;
  width: 9px;
  animation-delay: -1.2s;
  transform: translate3d(27vw, 76vh, 58px);
  background: #26d947; }

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(7vw, 27vh, 33px); } }
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.28;
  height: 9px;
  width: 9px;
  animation-delay: -1.4s;
  transform: translate3d(73vw, 22vh, 39px);
  background: #85d926; }

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(46vw, 45vh, 21px); } }
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.9;
  height: 8px;
  width: 8px;
  animation-delay: -1.6s;
  transform: translate3d(58vw, 27vh, 73px);
  background: #c726d9; }

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(75vw, 61vh, 51px); } }
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.51;
  height: 8px;
  width: 8px;
  animation-delay: -1.8s;
  transform: translate3d(56vw, 2vh, 51px);
  background: #6526d9; }

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(43vw, 20vh, 12px); } }
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.06;
  height: 6px;
  width: 6px;
  animation-delay: -2s;
  transform: translate3d(37vw, 8vh, 64px);
  background: #d926b2; }

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(31vw, 70vh, 39px); } }
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.22;
  height: 10px;
  width: 10px;
  animation-delay: -2.2s;
  transform: translate3d(90vw, 60vh, 32px);
  background: #6526d9; }

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(8vw, 77vh, 54px); } }
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.25;
  height: 6px;
  width: 6px;
  animation-delay: -2.4s;
  transform: translate3d(62vw, 75vh, 99px);
  background: #26b8d9; }

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(60vw, 66vh, 68px); } }
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.13;
  height: 6px;
  width: 6px;
  animation-delay: -2.6s;
  transform: translate3d(58vw, 75vh, 46px);
  background: #47d926; }

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(43vw, 39vh, 80px); } }
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.2;
  height: 8px;
  width: 8px;
  animation-delay: -2.8s;
  transform: translate3d(72vw, 45vh, 1px);
  background: #d9ac26; }

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(28vw, 82vh, 84px); } }
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.93;
  height: 8px;
  width: 8px;
  animation-delay: -3s;
  transform: translate3d(69vw, 50vh, 5px);
  background: #cdd926; }

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(75vw, 78vh, 45px); } }
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.26;
  height: 8px;
  width: 8px;
  animation-delay: -3.2s;
  transform: translate3d(77vw, 40vh, 7px);
  background: #b526d9; }

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(35vw, 44vh, 52px); } }
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.92;
  height: 6px;
  width: 6px;
  animation-delay: -3.4s;
  transform: translate3d(3vw, 88vh, 100px);
  background: #d97726; }

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(5vw, 73vh, 93px); } }
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.32;
  height: 7px;
  width: 7px;
  animation-delay: -3.6s;
  transform: translate3d(77vw, 89vh, 44px);
  background: #cd26d9; }

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(25vw, 15vh, 41px); } }
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.92;
  height: 8px;
  width: 8px;
  animation-delay: -3.8s;
  transform: translate3d(78vw, 2vh, 91px);
  background: #26d9b8; }

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(56vw, 13vh, 91px); } }
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.56;
  height: 6px;
  width: 6px;
  animation-delay: -4s;
  transform: translate3d(85vw, 67vh, 38px);
  background: #d9af26; }

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(74vw, 26vh, 20px); } }
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.4;
  height: 8px;
  width: 8px;
  animation-delay: -4.2s;
  transform: translate3d(68vw, 59vh, 60px);
  background: #d9264d; }

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(65vw, 80vh, 4px); } }
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.82;
  height: 10px;
  width: 10px;
  animation-delay: -4.4s;
  transform: translate3d(36vw, 78vh, 19px);
  background: #d97a26; }

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(71vw, 53vh, 12px); } }
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.9;
  height: 7px;
  width: 7px;
  animation-delay: -4.6s;
  transform: translate3d(2vw, 3vh, 99px);
  background: #d92635; }

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(86vw, 49vh, 54px); } }
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.24;
  height: 9px;
  width: 9px;
  animation-delay: -4.8s;
  transform: translate3d(31vw, 81vh, 8px);
  background: #d99126; }

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(84vw, 81vh, 70px); } }
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.76;
  height: 7px;
  width: 7px;
  animation-delay: -5s;
  transform: translate3d(38vw, 40vh, 70px);
  background: #6bd926; }

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(76vw, 33vh, 94px); } }
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.33;
  height: 8px;
  width: 8px;
  animation-delay: -5.2s;
  transform: translate3d(41vw, 54vh, 43px);
  background: #d99126; }

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(38vw, 29vh, 35px); } }
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.3;
  height: 10px;
  width: 10px;
  animation-delay: -5.4s;
  transform: translate3d(19vw, 89vh, 39px);
  background: #b826d9; }

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(76vw, 64vh, 39px); } }
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.35;
  height: 8px;
  width: 8px;
  animation-delay: -5.6s;
  transform: translate3d(39vw, 3vh, 48px);
  background: #263ed9; }

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(78vw, 23vh, 73px); } }
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.58;
  height: 7px;
  width: 7px;
  animation-delay: -5.8s;
  transform: translate3d(25vw, 88vh, 10px);
  background: #d96826; }

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(5vw, 40vh, 14px); } }
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.63;
  height: 10px;
  width: 10px;
  animation-delay: -6s;
  transform: translate3d(23vw, 70vh, 65px);
  background: #26d9a6; }

#middle-title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #286DA8; }

.section_title {
  font-family: "Open Sans", sans-serif;
  color: #C7D5E4;
  font-size: 60px;
  margin-bottom: -20px; }

#middle-par {
  font-size: 20px;
  color: #0A2239;
  font-family: "Gotu", sans-serif; }

@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.accordion {
  padding-bottom: 20px; }

.card-header {
  padding: 0;
  background-color: #0d0a0b;
  background-image: linear-gradient(315deg, #0d0a0b 0%, #009fc2 74%); }

.first-letters::first-letter {
  font-size: 40px;
  color: #0A2239;
  font-family: "Lato", sans-serif; }

.first-letters {
  color: #FAFAFA;
  font-family: "Lato", sans-serif;
  font-size: 25px; }

.card-body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px; }

#main-footer {
  height: 350px;
  background-color: #bfe299;
  background-image: linear-gradient(315deg, #bfe299 0%, #66b5f6 74%); }

.footer-title {
  font-family: "Open Sans", sans-serif;
  color: #0A2239; }

#btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #FAFAFA;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #286DA8;
  overflow: hidden;
  position: relative;
  font-size: 25px; }
  #btn i {
    font-size: 35px;
    transition: 0.2s linear; }
  #btn:hover i {
    transform: scale(1.3);
    color: #FAFAFA; }
  #btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #0A2239;
    transform: rotate(45deg);
    left: -110%;
    top: 90%; }
  #btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%; }
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%; }
  50% {
    left: 10%;
    top: -30%; }
  100% {
    top: -10%;
    left: -10%; } }
#second-footer {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  padding: 10px; }

#text-footer {
  color: #FAFAFA;
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: 5px; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #main-footer {
    height: 480px; }

  #btn {
    margin-bottom: 14px; } }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .carousel-item {
    height: 450px; } }
/*Header */
#traject-header {
  height: 200px;
  max-width: 100%;
  background: url("../../img/traject2.jpg") 0px -300px;
  background-size: cover;
  padding-top: 50px; }

.to-center {
  margin-bottom: 80px; }

@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
@keyframes flash {
  from, 50%, to {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
.flash {
  -webkit-animation-name: flash;
  animation-name: flash; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/*STAPPENPLAN */
.skewBtn {
  width: 180px;
  height: 80px;
  outline: none;
  cursor: pointer;
  background: none;
  transition: 0.5s;
  font-size: 24px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  position: relative;
  overflow: hidden; }
  .skewBtn:hover {
    border: none;
    color: white;
    font-size: 28px;
    transform: scale(1.1); }

.title-opstart {
  font-size: 20px !important; }

/* Buttons */
.blue1 {
  border: 2px solid #96C2FD;
  color: #FAFAFA;
  background-color: #0E0693; }
  .blue1:hover {
    background-color: #96C2FD;
    transition: all 0.3s ease-in-out; }

.blue2 {
  border: 2px solid #7A9CE7;
  color: #FAFAFA;
  background-color: #292BA8; }
  .blue2:hover {
    background-color: #7A9CE7;
    transition: all 0.3s ease-in-out; }

.blue3 {
  border: 2px solid #5F76D2;
  color: #FAFAFA;
  background-color: #4451BD; }
  .blue3:hover {
    background-color: #5F76D2;
    transition: all 0.3s ease-in-out; }

.blue4 {
  border: 2px solid #4451BD;
  color: #FAFAFA;
  background-color: #5F76D2; }
  .blue4:hover {
    background-color: #4451BD;
    transition: all 0.3s ease-in-out; }

.blue5 {
  border: 2px solid #292BA8;
  color: #FAFAFA;
  background-color: #7A9CE7; }
  .blue5:hover {
    background-color: #292BA8;
    transition: all 0.3s ease-in-out; }

.blue6 {
  border: 2px solid #0E0693;
  color: #FAFAFA;
  background-color: #96C2FD; }
  .blue6:hover {
    background-color: #0E0693;
    transition: all 0.3s ease-in-out; }

.modal-body {
  font-family: Roboto Light;
  background: #FAFAFA;
  color: #0A2239;
  font-size: 18px; }

.modal-header {
  font-family: "Open Sans", sans-serif;
  background: #0A2239;
  color: #FAFAFA; }

.close {
  color: #FAFAFA; }

.btn-secondary {
  background: #0A2239 !important;
  font-family: "Gotu", sans-serif; }

.todos {
  margin-top: 100px !important; }

/***** CAROUSEL**** */
.carousel-item {
  height: 400px; }

.situering-image-1 {
  background: url("../../img/SITUERING.jpg") 0px -300px;
  background-size: cover; }

.situering-image-2 {
  background: url("../../img/SITUERING2.jpg") 0px -280px;
  background-size: cover; }

/***** WEST-VLAANDEREN KAART **** */
.main-situering {
  margin-bottom: 100px;
  margin-top: 8px; }

.downloaden {
  font-family: "Gotu", sans-serif;
  color: #FAFAFA; }

.modal-footer {
  background-color: #bfe299;
  background-image: linear-gradient(315deg, #bfe299 0%, #66b5f6 74%); }

#center-title {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  color: #286DA8;
  margin-top: 80px;
  margin-bottom: 20px; }

#list-ul {
  font-size: 20px;
  font-family: "Lato", sans-serif; }

#map-westV {
  height: 600px;
  width: 600px; }

.gradient-border {
  --borderWidth: 5px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth); }

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%; }

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 768px) {
  .carousel-item {
    min-height: 200px; } }
#wieiswie-header {
  height: 200px;
  max-width: 100%;
  background: url("../../img/WIEISWIE.png");
  background-size: cover;
  padding-top: 50px; }

.tab-content {
  margin-bottom: 100px; }

.nav-tabs {
  border-bottom: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px; }

.tab-link {
  border: 2px solid;
  border-color: #FAFAFA #0A2239 #FAFAFA; }

.bgPa {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%); }

#ondersteuners-tab, #coordinatoren-tab, #pedagogische-tab, #beheerscomite-tab {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #0A2239 !important; }
  #ondersteuners-tab:hover, #coordinatoren-tab:hover, #pedagogische-tab:hover, #beheerscomite-tab:hover {
    animation: spring 300ms ease-out;
    font-weight: bold; }

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1); }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95); }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1); }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1); } }
.nav-link.active {
  border: 2px solid #FAFAFA !important;
  background-color: #098FEF !important; }

.card-1 {
  background-color: white; }

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden;
  position: relative; }
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative; }
    .our-team .picture::before {
      content: "";
      width: 100%;
      height: 0;
      border-radius: 50%;
      background-color: #c64fcd;
      position: absolute;
      bottom: 135%;
      right: 0;
      left: 0;
      opacity: 0.9;
      transform: scale(3);
      transition: all 0.3s linear 0s; }
  .our-team:hover .picture::before {
    height: 100%; }
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #50d8d7;
    background-image: linear-gradient(316deg, #50d8d7 0%, #923993 74%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s; }
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7); }
  .our-team .title {
    display: block;
    font-size: 20px;
    color: #c64fcd;
    text-transform: capitalize; }
  .our-team .email {
    display: block;
    font-size: 18px;
    color: #FAFAFA; }
  .our-team .name {
    color: #FAFAFA;
    font-family: "Open Sans", sans-serif; }

body #partners-header {
  height: 200px;
  max-width: 100%;
  background: url("../../img/PARTNERS.jpg");
  background-size: cover;
  padding-top: 55px; }

.paragraphs {
  font-size: 20px;
  font-family: "Open Sans", sans-serif; }

.logos .col {
  text-align: center; }
  .logos .col p {
    font-size: 20px;
    font-family: "Open Sans", sans-serif; }
.logos img {
  width: 13rem;
  height: 10rem;
  object-fit: scale-down; }

.clb-logos {
  width: 350px;
  height: 200px; }

.katholiek-logo {
  width: 400px;
  height: 150px; }

.onderwijs-heading {
  position: relative;
  min-height: 100px;
  background: url("../../img/puzzle1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #FAFAFA;
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

.gonderwijs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.go-overlay {
  background: rgba(41, 97, 34, 0.8); }

.bo-overlay {
  background: rgba(142, 122, 11, 0.8); }

.clb-overlay {
  background: rgba(191, 33, 30, 0.8); }

.pb-overlay {
  background: rgba(23, 64, 97, 0.8); }

#vacatures-header {
  height: 200px;
  max-width: 100%;
  background: url("../../img/joinOurTeam.jpg") 0 -180px;
  background-size: cover;
  padding-top: 55px; }

.items {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%); }
  .items p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #0A2239; }

.line {
  border: 1px solid #C7D5E4; }

.spontane {
  text-align: center;
  color: #FAFAFA;
  font-family: "Lato", sans-serif; }

.paddingvaca {
  padding-top: 37px;
  padding-bottom: 30px; }

.item2 {
  background: linear-gradient(180deg, #028090 0%, rgba(255, 255, 255, 0) 100%), #00BFB2; }
  .item2 p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #0A2239; }

/*Contact header */
#contact-header {
  height: 200px;
  background: url("../../img/contact.jpg") fixed -600px -260px;
  padding-top: 50px; }
  #contact-header .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background: rgba(255, 229, 237, 0.7); }

/* Google Map */
.map-container-4 {
  overflow: hidden;
  padding-bottom: 30.25%;
  position: relative;
  height: 0; }

.map-container-4 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.map-container-4 {
  overflow: hidden;
  padding-bottom: 30.25%;
  position: relative;
  height: 0; }

#contact-header .contact-inner {
  padding-top: 150px; }

#bg-contact {
  background-color: #286DA8;
  color: #FAFAFA; }

.btn-outline-danger {
  border-color: #286DA8;
  color: #0E0693; }
  .btn-outline-danger:hover {
    background-color: #286DA8;
    border: #FAFAFA; }

/*# sourceMappingURL=style.css.map */
