// VARIABLES
$backgroundColor: #FAFAFA
$color1: #286DA8
$color2: #63DDBD
$color3: #CD5360
$colorText1: #0A2239
$font1: Open Sans, sans-serif
$textSize1: 18px


// MIXIN

body
  overflow-x: hidden
  margin-top: 90px
  background-color: $backgroundColor


// HOMEPAGE
// NAVBAR
@import navbar

//CAROUSEL




// MIDDLE TITLE

#middle-title
  font-family: $font1
  font-weight: bold
  font-size: 40px
  color: $colorText1

.section_title
  font-family: 'playball', serif
  font-style: italic
  font-size: 70px
  font-weight: 700
  color: #C7D5E4
  line-height: 0.75
  z-index: 0

#middle-par
  font-size: 20px

// ACCORDION

.first-letters::first-letter
  font-size: 40px



